.heading {
    font: 12px/20px "Microsoft yahei", 微软雅黑, Simsun, 宋体;
    line-height: 22px;
    font-size: 22px;
    letter-spacing: 0px;
    white-space: nowrap;
    color: #800080;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
}

.time {
    font: 12px/20px "Microsoft yahei", 微软雅黑, Simsun, 宋体;
    line-height: 18px;
    font-size: 18px;
}

.summary {
    font: 12px/20px "Hiragino Sans GB","Microsoft Yahei","微软雅黑",SimSun,"宋体",Arial;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 32px;
    color: #4D4F53;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}